<!-- main starts -->
<div class="main-wrapper">
	<!-- header starts -->
	<header class="global-header">
		<div class="inside-header global-width clearfix">
			<div class="logo align-left">
				<a href="#">
					QB
					<span>Blood Bank</span>
				</a>
			</div>
		</div>
		<nav class="global-navigation clearfix">
			<ul class="global-width">
				<li><a href="#">Home</a></li>
				<li><a href="#">Help</a></li>
				<li class="last"><a href="#">About Us</a></li>
			</ul>
		</nav>
	</header>
	<!-- header ends -->
