<div class="loginBox">
  <div class="loginHeader">
    Login Here
  </div>
  <div class="loginBody">
    <div class="inputBox">
      <input type="text" name="email_id" value="" placeholder="email id">
    </div>
    <div class="inputBox">
      <input type="text" name="password" value="" placeholder="password">
    </div>
    <div class="inputBox">
      <button type="button" class="submitButton" name="button">Login</button>
      <button type="button" class="resetButton" name="button">Reset</button>
    </div>
    <div class="registerHere">
      <a ui-sref="app.main.register">New user ? register here . . . </a>
    </div>
  </div>
</div>
