<!-- home content starts -->
<div class="home-content">
	<!-- spotlight starts -->
	<section class="spotlight">
		<h2 class="hidden">Spotlight</h2>
		<ul>
			<li>
				<img src="components/home/images/spotlight.jpg" />
				<article>
					<h3></h3>
					<p></p>
				</article>
			</li>
		</ul>
	</section>
	<!-- spotlight ends -->
	<div class="emergency-wrapper">
		<article class="emergency-requirement">
			<h2>Emergency Requirements</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit </p>
		</article>
	</div>
	<section class="wrap-guideline global-width clearfix">
		<h2 class="hidden">GuideLines</h2>
		<article>
			<h3>How to Donate Blood?</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit </p>
		</article>
		<article>
			<h3>Donor Guideline</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit </p>
		</article>
		<article>
			<h3>About Blood</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit </p>
		</article class="last">
	</section>
</div>
<!-- home content ends -->